* {
  padding: 0;
  margin: 0;
}

.spacing {
  padding: 1em;
  text-align: left;
}

.app {
  text-align: center;
}

.dark {
  color: white;
  background-color: black;
}

.normal {
  color: black;
  background-color: white;
}

button {
  cursor: pointer;
}

.dark button {
  border-color: white;
}

.normal button {
  border-color: black;
}
